Repository AlexSergey/codeformat-node-commonjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:package, npm run lint:ts, prettier --write, eslint --fix

fix: lint stage fix
  .lintstagedrc.json
Due: prettier --write, eslint --fix

feat: lint-staged
  .husky/pre-push
  .lintstagedrc.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

fix: test commit
  src/message.ts
Due: npm run lint:ts, prettier --write, eslint --fix

fix: test commit
  .husky/pre-push
  src/message.ts
Due: npm run lint:ts, prettier --write, eslint --fix

fix: test
  package.json
Due: npm run format:package, prettier --write, eslint --fix

fix: update readme
  README.md
Due: prettier --write

fix: lint-staged
  .lintstagedrc.js
  .lintstagedrc.json
Due: prettier --write, eslint --fix

fix: eslint jest formatting plugin
  .eslintrc.js
Due: none

fix: fix eslint
  .eslintrc.js
Due: none

fix: eslintrc
  .eslintrc.js
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:package, prettier --write, eslint --fix

fix: fix no extradep rule
  .eslintrc.js
Due: none

feat: eslint-plugin-perfectionist
  .eslintrc.js
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: update all dependencies
  .nvmrc
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

fix: fix dependencies
  package.json
Due: npm run format:package, prettier --write, eslint --fix

fix: project name fix
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: add regexp
  .eslintrc.js
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: add sonarjs
  .eslintrc.js
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: update node to v20
  .gitattributes
  .npmignore
  .nvmrc
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:package, prettier --write, eslint --fix

feat: eslint 9 preparaion for use
  .eslintrc.js
  .nvmrc
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: eslint 9 support
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:package, prettier --write, eslint --fix

fix: subextension fixed
  eslint.config.mjs
  package.json
Due: npm run format:package, prettier --write, eslint --fix

fix: add ignore files
  eslint.config.mjs
Due: none

fix: fix ignores
  eslint.config.mjs
Due: none

fix: fix configuration
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: remove prefx I
  eslint.config.mjs
Due: none

feat: update eslint config
  eslint.config.mjs
Due: none

fix: fix small errors
  .lintstagedrc.js
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: drop unicorn
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

feat: replace sort-package-json to eslint plugin
  .lintstagedrc.js
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package, prettier --write, eslint --fix

Path conditions:
  npm run format:package: any of: package.json
  npm run lint:ts: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx,json}) or (any of: *.md)
  eslint --fix: any of: *.{ts,tsx,json}
